<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb607d">  <td>19/09/15 14:55:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testClassforCheckValidation.VerifyLogin()[pri:2, instance:MavenProject_01.MavenProject_01.testClassforCheckValidation@1dd0e7c4]">VerifyLogin</td> 
  <td>main@1195396074</td>   <td></td> </tr>
<tr bgcolor="bb607d">  <td>19/09/15 14:55:25</td>   <td>5597</td> <td>&nbsp;</td><td title="&lt;&lt;testClassforCheckValidation.afterTest()[pri:0, instance:MavenProject_01.MavenProject_01.testClassforCheckValidation@1dd0e7c4]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1195396074</td>   <td></td> </tr>
<tr bgcolor="bb607d">  <td>19/09/15 14:55:13</td>   <td>-6934</td> <td>&nbsp;</td><td title="&gt;&gt;testClassforCheckValidation.beforetest()[pri:0, instance:MavenProject_01.MavenProject_01.testClassforCheckValidation@1dd0e7c4]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1195396074</td>   <td></td> </tr>
<tr bgcolor="bb607d">  <td>19/09/15 14:55:20</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testClassforCheckValidation.pageLoade()[pri:1, instance:MavenProject_01.MavenProject_01.testClassforCheckValidation@1dd0e7c4]">pageLoade</td> 
  <td>main@1195396074</td>   <td></td> </tr>
</table>
